:root {
  /* COLOR */
  --color-text: #363636;
  --color-background: #ffffff;
  --color-background-alternate: #f4f4f4;
  --color-highlight: #bc377d;
  --color-highlight-hover: #ea3c97;

  /* TYPOGRAPHY */
  --font-size: 16px;
  --font-size-heading-large: 4rem;
  --font-size-heading-medium: 2rem;
  --font-size-heading-small: 1.5rem;
  --font-size-paragraph: 1.2rem;
  --typeface-serif: "Playfair Display", Georgia, Times, serif;
  --typeface-sans-serif: "Open Sans", -apple-system, Arial, sans-serif;

  /* BREAKPOINT */
  --screen-size-mobile: 700px;

  /* OTHER */
  --border-radius: 4px;
  --global-trasition: all 0.2s ease-in-out;
  --intro-transition: intro 0.3s both;
}

/***************/
/* MEYER RESET */
/***************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/***************/
/* BASE        */
/***************/

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--typeface-sans-serif);
  font-size: var(--font-size);
  line-height: 1.5;
}

h1,
h2 {
  font-family: var(--typeface-serif);
}

h1 {
  font-size: var(--font-size-heading-large);
}

h2 {
  font-size: var(--font-size-heading-medium);
}

/***************/
/* SECTIONS    */
/***************/

header,
section {
  padding: 10rem;
}

footer {
  /* padding: auto 0; */
  text-align: center;
}

section:nth-child(even) {
  background-color: var(--color-background-alternate);
}

.header {
  display: flex;
  padding: auto 10rem;
}

.section-recommendations {
}

.section-selling-points {
  display: flex;
  flex-direction: row;
}

.selling-point {
  text-align: center;
}

.selling-point__title::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.2rem;
  margin: 1rem auto;
  background-color: var(--color-highlight);
}

.section-video {
  text-align: center;
}

.tips-container {
  display: flex;
}

.section-accessories {
}

.section-contact {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header__title .subheading {
  display: block;
  font-size: var(--font-size-heading-small);
  font-family: var(--typeface-sans-serif);
  font-weight: lighter;
}

.dimensions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dimensions__table {
  padding: 2rem;
  background-color: var(--color-background-alternate);
}

.dimensions__table th {
  padding: 1rem;
  padding-bottom: 0;
  font-weight: bold;
}

.dimensions__table td {
  padding: 1rem;
}

.dimensions__table td:first-child {
  font-weight: bold;
}
